<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.AccountDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findAll" resultType="com.niyongsheng.persistence.domain.Account" >
        <!-- 具体的sql -->
        SELECT *
        FROM
        account
    </select>

    <insert id="saveAccount" parameterType="com.niyongsheng.persistence.domain.Account">
        INSERT INTO account (name,money)
        VALUE
        (#{name},#{money})
    </insert>

    <select id="findAccountById" parameterType="java.lang.Integer" resultType="com.niyongsheng.persistence.domain.Account">
        SELECT *
        FROM account
        WHERE id = #{accountId}
    </select>

    <select id="findAccountByName" parameterType="java.lang.String" resultType="com.niyongsheng.persistence.domain.Account">
        SELECT *
        FROM account
        WHERE name = #{accountName}
    </select>

    <update id="updateAccount" parameterType="com.niyongsheng.persistence.domain.Account">
        UPDATE account
        SET `name` = #{name},money = #{money}
        WHERE id = #{id}
    </update>
</mapper>