<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.ActivityDao">

    <resultMap id="activityMap_1" type="Activity" autoMapping="true">
        <id property="account" column="account"/>
        <collection property="isInGroup" column="isInGroup" select="com.niyongsheng.persistence.dao.User_ActivityDao.selectIsInGroupByUserAccount"/>
    </resultMap>

    <select id="selectByFellowshipMultiTable" resultMap="activityMap_1">
        select *
        from dcd_activity a
        inner join dcd_fellowship f
        on a.fellowship = f.id
        where a.fellowship = #{fellowship}
        order by a.isTop desc, a.id desc
    </select>

</mapper>