<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.ArticleDao">

    <resultMap id="articleMap_1" type="Article" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="collectionUserList" column="id" select="com.niyongsheng.persistence.dao.User_Article_CollectionDao.selectCollectionUsersByArticleID"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
        <collection property="isCollection" column="{articleID = id, account = isCollectionAccount}" select="com.niyongsheng.persistence.dao.User_Article_CollectionDao.isCollection"/>
    </resultMap>

    <select id="selectByFellowshipMultiTable" resultMap="articleMap_1">
        select *, #{isCollectionAccount} as isCollectionAccount
        from dcd_article a
        inner join dcd_fellowship f
        on a.fellowship = f.id
        where a.fellowship = #{fellowship}
        order by a.isTop desc, a.id desc
    </select>
</mapper>