<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.BannerDao">

    <select id="selectAllMultiTable" resultType="com.niyongsheng.persistence.domain.Banner">
        select *
        from dcd_banner a
        inner join dcd_fellowship b
        on a.fellowship = b.id
    </select>

    <select id="selectByFellowshipMultiTable" resultType="com.niyongsheng.persistence.domain.Banner">
        select *
        from dcd_banner a
        inner join dcd_fellowship b
        on a.fellowship = b.id
        where a.fellowship = #{fellowship}
    </select>

</mapper>