<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.Music_MusicMenuDao">

    <!-- 根据一个歌单ID,查询这个歌单下的所有歌曲列表 -->
    <resultMap id="resultMusicMap_2" type="com.niyongsheng.persistence.domain.Music" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="collectionUserList" column="id" select="com.niyongsheng.persistence.dao.User_Music_CollectionDao.selectCollectionUsersByMusicID"/>
        <collection property="isCollection" column="{musicID = id, account = isCollectionAccount}" select="com.niyongsheng.persistence.dao.User_Music_CollectionDao.isCollection"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
    </resultMap>

    <select id="getMusicsByMusicMenuId" resultMap="resultMusicMap_2">
        select m.*, mmm.musicMenuID, #{account} as isCollectionAccount
        from dcd_music m, dcd_music_musicMenu mmm
        where m.id = mmm.musicID and mmm.musicMenuID = #{musicMenuID}
    </select>


    <!-- 根据一个歌曲ID，查询这个歌曲所在的歌单列表 -->
    <resultMap id="resultMusicMenuMap_2" type="com.niyongsheng.persistence.domain.MusicMenu" autoMapping="true"/>

    <select id="getMusicMenusByMusicId" resultMap="resultMusicMenuMap_2">
        select mm.*, mmm.musicMenuID
        from dcd_musicMenu mm, dcd_music_musicMenu mmm
        where mm.id = mmm.musicMenuID and mmm.musicID = #{musicID}
    </select>

</mapper>