<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.Music_MusicMenuDao">

    <!-- 根据一个歌单ID,查询这个歌单下的所有歌曲列表 -->
    <resultMap id="resultMusicMap_2" type="Music" autoMapping="true"/>

    <select id="getMusicsByMusicMenuId" resultMap="resultMusicMap_2">
        select m.*, mmm.musicMenuID
        from dcd_music m, dcd_music_musicMenu mmm
        where m.id = mmm.musicID and mmm.musicMenuID = #{id}
    </select>


    <!-- 根据一个歌曲ID，查询这个歌曲所在的歌单列表 -->
    <resultMap id="resultMusicMenuMap_2" type="MusicMenu" autoMapping="true"/>

    <select id="getMusicMenusByMusicId" resultMap="resultMusicMenuMap_2">
        select mm.*, mmm.musicMenuID
        from dcd_musicMenu mm, dcd_music_musicMenu mmm
        where mm.id = mmm.musicMenuID and mmm.musicID = #{id}
    </select>

</mapper>