<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.PrayDao">
    <select id="selectAllMultiTable" resultType="com.niyongsheng.persistence.domain.Pray">
        select *
        from dcd_pray p
        inner join dcd_fellowship f
        on p.fellowship = f.id
        order by a.isTop desc, a.id desc
    </select>

    <resultMap id="prayMap_1" type="Pray" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="collectionUserList" column="id" select="com.niyongsheng.persistence.dao.User_Pray_CollectionDao.selectCollectionUsersByPrayID"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
        <collection property="isCollection" column="{prayID = id, account = account}" select="com.niyongsheng.persistence.dao.User_Pray_CollectionDao.isCollection"/>
    </resultMap>

    <select id="selectAllByFellowshipMultiTable" resultMap="prayMap_1">
        select *
        from dcd_pray p
        inner join dcd_fellowship f
        on p.fellowship = f.id
        where p.fellowship = #{fellowship}
        order by p.isTop desc, p.id desc
    </select>
</mapper>