<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.PublicnoticeDao">
    <select id="selectByFellowshipMultiTable" resultType="com.niyongsheng.persistence.domain.Publicnotice">
        select *
        from dcd_publicnotice p
        inner join dcd_fellowship f
        on p.fellowship = f.id
        where p.fellowship = #{fellowship}
    </select>
</mapper>