<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.RecommendDao">

    <resultMap id="recommendMap_2" type="com.niyongsheng.persistence.domain.Recommend" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
    </resultMap>

    <select id="selectRecommendByFellowshipMultiTable" resultMap="recommendMap_2">
        select *
        from dcd_recommend r
        inner join dcd_fellowship f
        on r.fellowship = f.id
        where r.fellowship = #{fellowship}
    </select>
</mapper>