<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.User_Pray_CollectionDao">

    <delete id="cancelCollection">
        delete from dcd_user_pray_collection
        where prayID = #{prayID} and account = #{account}
    </delete>

    <select id="selectCollectionUsersByPrayID" resultType="com.niyongsheng.persistence.domain.User">
        select u.id, u.account, u.truename, u.icon, u.gender, u.nickname, u.introduction, u.fellowship, uyc.prayID
        from dcd_user u, dcd_user_pray_collection uyc
        where u.account = uyc.account and uyc.prayID = #{prayID}
    </select>

    <resultMap id="prayMap_1" type="com.niyongsheng.persistence.domain.Pray" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="collectionUserList" column="id" select="com.niyongsheng.persistence.dao.User_Pray_CollectionDao.selectCollectionUsersByPrayID"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
        <collection property="isCollection" column="{prayID = id, account = isCollectionAccount}" select="com.niyongsheng.persistence.dao.User_Pray_CollectionDao.isCollection"/>
    </resultMap>

    <select id="selectPrayersByCollectionAccount" resultMap="prayMap_1">
        select p.*, uyc.account, #{account} as isCollectionAccount
        from dcd_pray p, dcd_user_pray_collection uyc
        where p.id = uyc.prayID and uyc.account = #{account}
    </select>

    <select id="isCollection" resultType="java.lang.Boolean">
        select count(id)
        from dcd_user_pray_collection
        where prayID = #{prayID} and account = #{account}
    </select>

</mapper>