<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.User_Article_CollectionDao">
    <delete id="cancelCollection">
        delete from dcd_user_article_collection
        where articleID = #{articleID} and account = #{account}
    </delete>

    <select id="selectCollectionUsersByArticleID" resultType="com.niyongsheng.persistence.domain.User">
        select u.id, u.account, u.truename, u.icon, u.gender, u.nickname, u.introduction, u.fellowship, uac.articleID
        from dcd_user u, dcd_user_article_collection uac
        where u.account = uac.account and uac.articleID = #{articleID}
    </select>

    <resultMap id="articleMap_1" type="com.niyongsheng.persistence.domain.Article" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="collectionUserList" column="id" select="com.niyongsheng.persistence.dao.User_Article_CollectionDao.selectCollectionUsersByArticleID"/>
        <collection property="user" column="account" select="com.niyongsheng.persistence.dao.UserDao.findByAccount"/>
        <collection property="isCollection" column="{articleID = id, account = isCollectionAccount}" select="com.niyongsheng.persistence.dao.User_Article_CollectionDao.isCollection"/>
    </resultMap>

    <select id="selectArticlesByCollectionAccount" resultMap="articleMap_1">
        select a.*, uac.account, #{account} as isCollectionAccount
        from dcd_article a, dcd_user_article_collection uac
        where a.id = uac.articleID and uac.account = #{account}
    </select>

    <select id="isCollection" resultType="java.lang.Boolean">
        select count(id)
        from dcd_user_article_collection
        where articleID = #{articleID} and account = #{account}
    </select>

</mapper>