<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niyongsheng.persistence.dao.UserDao">

    <insert id="add" parameterType="com.niyongsheng.persistence.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dcd_user (
        <if test="account != null">account,</if>
        <if test="truename != null">truename,</if>
        <if test="icon != null">icon,</if>
        <if test="grade != null">grade,</if>
        <if test="score != null">score,</if>
        <if test="gender != null">gender,</if>
        <if test="phone != null">phone,</if>
        <if test="password != null">password,</if>
        <if test="token != null">token,</if>
        <if test="imToken != null">imToken,</if>
        <if test="nickname != null">nickname,</if>
        <if test="introduction != null">introduction,</if>
        <if test="email != null">email,</if>
        <if test="address != null">address,</if>
        <if test="fellowship != null">fellowship,</if>
        <if test="role != null">role,</if>
        <if test="qqOpenid != null">qqOpenid,</if>
        <if test="wcOpenid != null">wcOpenid,</if>
        <if test="appleUserId != null">appleUserId,</if>
        <if test="status != null">status,</if>
        <if test="birthday != null">birthday,</if>
        gmtCreate
        )
        VALUES (
        <if test="account != null">#{account},</if>
        <if test="truename != null">#{truename},</if>
        <if test="icon != null">#{icon},</if>
        <if test="grade != null">#{grade},</if>
        <if test="score != null">#{score},</if>
        <if test="gender != null">#{gender},</if>
        <if test="phone != null">#{phone},</if>
        <if test="password != null">#{password},</if>
        <if test="token != null">#{token},</if>
        <if test="imToken != null">#{imToken},</if>
        <if test="nickname != null">#{nickname},</if>
        <if test="introduction != null">#{introduction},</if>
        <if test="email != null">#{email},</if>
        <if test="address != null">#{address},</if>
        <if test="fellowship != null">#{fellowship},</if>
        <if test="role != null">#{role},</if>
        <if test="qqOpenid != null">#{qqOpenid},</if>
        <if test="wcOpenid != null">#{wcOpenid},</if>
        <if test="appleUserId != null">#{appleUserId},</if>
        <if test="status != null">#{status},</if>
        <if test="birthday != null">#{birthday},</if>
        NOW()
        )
    </insert>

    <delete id="delete">
        DELETE FROM dcd_user WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.niyongsheng.persistence.domain.User">
        UPDATE dcd_user
        SET
        <if test="account != null">
            account=#{account},
        </if>
        <if test="truename != null and truename != ''">
            truename=#{truename},
        </if>
        <if test="icon != null">
            icon=#{icon},
        </if>
        <if test="grade !=null">
            grade=#{grade},
        </if>
        <if test="score != null">
            score=#{score},
        </if>
        <if test="gender != null">
            gender=#{gender},
        </if>
        <if test="phone !=null">
            phone=#{phone},
        </if>
        <if test="password !=null">
            password=#{password},
        </if>
        <if test="token !=null">
            token=#{token},
        </if>
        <if test="imToken != null">
            imToken=#{imToken},
        </if>
        <if test="nickname != null">
            nickname=#{nickname},
        </if>
        <if test="introduction != null">
            introduction=#{introduction},
        </if>
        <if test="email != null">
            email=#{email},
        </if>
        <if test="address != null">
            address=#{address},
        </if>
        <if test="fellowship != null">
            fellowship=#{fellowship},
        </if>
        <if test="qqOpenid != null">
            qqOpenid=#{qqOpenid},
        </if>
        <if test="wcOpenid != null">
            wcOpenid=#{wcOpenid},
        </if>
        <if test="appleUserId != null">
            appleUserId=#{appleUserId},
        </if>
        <if test="status != null">
            status=#{status},
        </if>
        <if test="role != null">
            role=#{role},
        </if>
        <if test="birthday != null">
            birthday=#{birthday},
        </if>
        gmtModify = NOW()
        WHERE account = #{account}
    </update>

    <select id="find" parameterType="java.lang.Integer" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.id = #{id}
    </select>

    <select id="findAll" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
    </select>

    <select id="login" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.phone = #{account} AND u.password = #{password}
    </select>

    <select id="findByFuzzySearch" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE 1 = 1
        <if test="nickname != null and nickname != ''">
            AND (nickname LIKE CONCAT('%',#{nickname},'%'))
        </if>
        <if test="account != null and account != ''">
            AND (account LIKE CONCAT('%',#{account},'%'))
        </if>
        <if test="phone != null and phone != ''">
            AND (phone LIKE CONCAT('%',#{phone},'%'))
        </if>
    </select>

    <select id="findByAccount" parameterType="java.lang.String" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.id, u.account, u.truename, u.icon, u.grade, u.score, u.gender, u.phone, u.nickname, u.introduction, u.email, u.address, u.fellowship, u.role, u.status, u.birthday, u.gmtCreate, u.gmtModify
        FROM dcd_user u
        WHERE u.account = #{account}
    </select>

    <select id="findByPhone" parameterType="java.lang.String" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.phone = #{phone}
    </select>

    <select id="selectAllByFellowshipMultiTable" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        where u.fellowship = #{fellowship}
    </select>

    <select id="findUserByQqOpenId" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.qqOpenid = #{qqOpenId}
    </select>

    <select id="findUserByWxOpenId" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.wcOpenid = #{wxOpenId}
    </select>

    <select id="findUserByAppleId" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.appleUserId = #{appleUserId}
    </select>

    <select id="refreshUserInfo" resultType="com.niyongsheng.persistence.domain.User">
        SELECT u.*, f.fellowshipName, r.roleDescription
        FROM dcd_user u
        INNER JOIN dcd_fellowship f
        ON u.fellowship = f.id
        INNER JOIN dcd_role r
        ON u.role = r.id
        WHERE u.account = #{account}
    </select>

</mapper>