<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启SpringMVC注解扫描 -->
    <context:component-scan base-package="com.niyongsheng.manager,com.niyongsheng.common">
        <!-- 只扫描Controller注解 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 加载第三方框架配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:sdkConfig.properties"/>

    <!-- 配置的视图解析器对象 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>

    <!-- 配置登录验证拦截器对象 -->
    <mvc:interceptors>
        <!-- 拦截器1 -->
        <mvc:interceptor>
            <!-- 拦截方法 -->
            <mvc:mapping path="/**"/>
            <!-- 不拦截的WEB方法 -->
            <mvc:exclude-mapping path="/home/login"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/logout"/>
            <mvc:exclude-mapping path="/verification/**"/>
            <mvc:exclude-mapping path="/app/download"/>
            <mvc:exclude-mapping path="/user/userProtocol"/>
            <!-- 拦截器对象1 -->
            <bean class="com.niyongsheng.manager.interceptor.LoginVerifyInterceptor"></bean>
        </mvc:interceptor>
        <!-- 拦截器2 -->
        <mvc:interceptor>
            <!-- 拦截方法 -->
            <mvc:mapping path="/account/**"/>
            <!-- 不拦截的方法 -->
            <!--            <mvc:exclude-mapping path="/account/*"/>-->
            <!-- 拦截器对象2 -->
            <bean class="com.niyongsheng.manager.interceptor.MyInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 全部静态资源文件放行 -->
    <mvc:default-servlet-handler/>

    <!-- 配置异常处理器对象 -->
    <bean id="sysExceptionResolver" class="com.niyongsheng.manager.exception.WebExceptionHandler"></bean>
    <!-- 配置七牛云上传工具对象 -->
    <bean id="qiniuUploadFileService" class="com.niyongsheng.common.qiniu.QiniuUploadFileService"></bean>
    <!-- 七牛验证码工具对象 -->
    <bean id="qiniuSMSService" class="com.niyongsheng.common.qiniu.QiniuSMSService"></bean>
    <!-- 融云IM服务对象 -->
    <bean id="rongCloudService" class="com.niyongsheng.common.rongCloud.RongCloudService"></bean>
    <!--开启@Validated注解 用于@RequestParam参数校验-->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>
    <!--注册国际化资源文件-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>ValidationMessages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <!-- 配置自定义日期类型转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.niyongsheng.common.date.StringToDateConverter"></bean>
            </set>
        </property>
    </bean>

    <!-- 开启SpringMVC注解的支持 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- @ResponseBody返回json数据时，解决乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- 开启Shiro注解 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!-- 避免二次代理 -->
<!--    <aop:config proxy-target-class="true"/>-->
    <bean id="attributeSourceAdvisor" class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>