<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DaoCaoDui_IOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8F3B4C52298EF8A00FA61A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F3B4DD2298EF8C00FA61A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F3B4E82298EF8C00FA61A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
