<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>titleText</key>
			<string>我的收藏</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_collect_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
		<dict>
			<key>titleText</key>
			<string>我的分享</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_feedback_24x25_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleText</key>
			<string>神奇盒子</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_box_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
		<dict>
			<key>titleText</key>
			<string>随想笔记</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_home_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>titleText</key>
			<string>设置</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_setting_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
		<dict>
			<key>titleText</key>
			<string>分享</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_help_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
		<dict>
			<key>titleText</key>
			<string>关于</string>
			<key>detailText</key>
			<string></string>
			<key>titleIcon</key>
			<string>icon_me_about_24x24_</string>
			<key>subIcon</key>
			<string>right_arrow</string>
		</dict>
	</array>
</array>
</plist>
