@import url("../plugins/icons/css/themify-icons.css");
@import url("../plugins/icons/css/font-awesome.min.css");
@import url("../plugins/icons/css/materialdesignicons.min.css");
@import url("../plugins/fontawesome-free/css/all.min.css");