<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启SpringMVC注解扫描 -->
    <context:component-scan base-package="com.niyongsheng.application,com.niyongsheng.common">
        <!-- 只扫描Controller注解 -->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 加载第三方框架配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:sdkConfig.properties" />

    <!-- 配置的视图解析器对象 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
<!--        <property name="viewClass" value = "org.springframework.web.servlet.view.JstlView"/>-->
    </bean>

    <!-- 静态资源放行 -->
    <mvc:default-servlet-handler/>

    <!-- 配置登录验证拦截器对象 -->
    <mvc:interceptors>
        <!-- 拦截器1 -->
        <mvc:interceptor>
            <!-- 拦截方法 -->
            <mvc:mapping path="/**"/>
            <!-- 不拦截的方法 -->
            <mvc:exclude-mapping path="/user/phoneRegister"/>
            <mvc:exclude-mapping path="/user/qqRegister"/>
            <mvc:exclude-mapping path="/user/wcRegister"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/getOnceCode"/>
            <!-- swagger放行-->
            <mvc:exclude-mapping path="/resources/**"/>
            <mvc:exclude-mapping path="/webjars/**"/>
            <mvc:exclude-mapping path="/v2/**"/>
            <mvc:exclude-mapping path="/swagger-resources/**"/>
            <mvc:exclude-mapping path="/swagger-ui.html"/>
            <mvc:exclude-mapping path="/swagger-ui.html#!/**"/>
            <!-- 拦截器对象1 -->
            <bean class="com.niyongsheng.application.interceptor.JwtAuthInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置七牛云上传工具对象 -->
    <bean id="qiniuUploadFileService" class="com.niyongsheng.common.qiniu.QiniuUploadFileService"></bean>
    <!-- 虹软人脸识别 -->
    <bean id="arcSoftFaceRecognition" class="com.niyongsheng.application.arcSoft.ArcSoftFaceRecognition"></bean>
    <!-- 七牛验证码工具对象 -->
    <bean id="qiniuSMSService" class="com.niyongsheng.common.qiniu.QiniuSMSService"></bean>
    <!-- 融云IM服务对象 -->
    <bean id="rongCloudService" class="com.niyongsheng.common.rongCloud.RongCloudService"></bean>

    <!-- 配置自定义日期类型转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.niyongsheng.common.date.StringToDateConverter"></bean>
            </set>
        </property>
    </bean>

    <!-- 开启SpringMVC注解的支持 -->
    <mvc:annotation-driven conversion-service="conversionService">

        <!-- 强化参数接收 -->
        <!--<mvc:argument-resolvers>
            <bean class="org.durcframework.common.form.FormModelMethodArgumentResolver" />
        </mvc:argument-resolvers>-->

        <mvc:message-converters>
            <!-- @ResponseBody返回json数据时，解决乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8"/>
            </bean>
<!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
<!--                <property name="objectMapper">-->
<!--                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
<!--                        &lt;!&ndash; 处理responseBody 里面日期类型 &ndash;&gt;-->
<!--                        <property name="dateFormat">-->
<!--                            <bean class="java.text.SimpleDateFormat">-->
<!--                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>-->
<!--                            </bean>-->
<!--                        </property>-->
<!--                        &lt;!&ndash; 为null字段时不显示 &ndash;&gt;-->
<!--                        <property name="serializationInclusion">-->
<!--                            <value type="com.fasterxml.jackson.annotation.JsonInclude">NON_NULL</value>-->
<!--                        </property>-->
<!--                    </bean>-->
<!--                </property>-->
<!--            </bean>-->
        </mvc:message-converters>

    </mvc:annotation-driven>

</beans>